<!doctype html>
<html th:lang="${#locale.toLanguageTag}"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      xmlns:halo="https://halo.run">
<head>
    <th:block th:replace="~{partials/base-head}" />
    <title th:text="${site.title + '-' + title}"></title>
    <th:block th:replace="~{plugin:personalassets:modules/style}"></th:block>
</head>
<body class="hidden bg-slate-50 dark:bg-slate-900">
<th:block th:replace="~{partials/header}" />
<th:block th:replace="~{modules/hero :: hero(isHome = true, cover = null, title = null)}" />

<section class="mx-auto mt-6 max-w-7xl px-4 lg:px-6">
    <div class="z-0 min-w-0">
        <div class="rounded-xl bg-white p-4 dark:bg-slate-800">
            <main class="personalassets-page">
                <th:block th:replace="~{plugin:personalassets:modules/equipment}"></th:block>
            </main>
        </div>
    </div>
</section>
</body>
</html>
