<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{modules/layout :: html(head = ~{::head},content = ~{::content})}">
<th:block th:fragment="head">
    <title th:text="${site.title + '-' + title}"></title>
    <th:block th:replace="~{plugin:personalassets:modules/style}"></th:block>
</th:block>

<th:block th:fragment="content">
    <main class="personalassets-page personalassets-layout">
        <th:block th:replace="~{plugin:personalassets:modules/equipment}"></th:block>
    </main>
</th:block>

</html>
