<div id="equipment">
    <th:block th:each="group : ${equipmentFinder.groupBy()}">
        <section class="equipment-item">
            <div class="equipment-group-heading">
                <h2 class="equipment-item-title" th:text="${group.spec.displayName}"></h2>
            </div>
            <div class="equipment-item-description"
                 th:if="${not #strings.isEmpty(group.spec.description)}"
                 th:text="${group.spec.description}"></div>
            <div class="equipment-item-content">
                <article th:each="equipment : ${group.equipments}" class="equipment-item-content-item">
                    <div class="equipment-item-content-item-info">
                        <h3 class="equipment-item-content-item-name" th:text="${equipment.spec.displayName}"></h3>
                        <div class="equipment-item-content-item-specification"
                             th:if="${not #strings.isEmpty(equipment.spec.specification)}"
                             th:text="${equipment.spec.specification}"></div>
                    </div>

                    <div class="equipment-item-content-item-cover">
                        <img class="equipment-item-content-item-image entered"
                             th:alt="${equipment.spec.displayName}"
                             th:src="${equipment.spec.cover}">
                    </div>

                    <div class="equipment-item-content-item-body">
                        <div class="equipment-item-content-item-description"
                             th:if="${not #strings.isEmpty(equipment.spec.description)}"
                             th:text="${equipment.spec.description}"></div>
                    </div>

                    <div class="equipment-item-content-item-footer">
                        <span class="equipment-item-content-item-id"
                              th:text="${'ID. ' + equipment.assetId}"></span>
                    </div>
                </article>
            </div>
        </section>
    </th:block>
</div>
