<div id="equipment">
    <th:block th:each="group : ${personalassets.groupBy()}">
        <section class="equipment-item">
            <div class="equipment-group-heading">
                <svg class="equipment-item-icon"
                     viewBox="0 0 32 32"
                     aria-hidden="true"
                     focusable="false"
                     style="display: inline-block; flex: 0 0 22px; height: 22px; margin-right: 2px; vertical-align: -4px; width: 22px;">
                    <path fill="currentColor"
                          d="M27 16h-2v2h-1c-1.1 0-2 .9-2 2v2c0 1.1.9 2 2 2h4v2h-6v2h3v2h2v-2h1c1.1 0 2-.9 2-2v-2c0-1.1-.9-2-2-2h-4v-2h6v-2h-3zm1-8h-6V4c0-1.1-.9-2-2-2h-8c-1.1 0-2 .9-2 2v4H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h15v-2H4V10h24v4h2v-4c0-1.1-.9-2-2-2m-8 0h-8V4h8z"></path>
                </svg>
                <h2 class="equipment-item-title" th:text="${group.spec.displayName}"></h2>
                <span class="equipment-item-count">
                    <span>&#65288;</span><span th:text="${#lists.size(group.equipments)}"></span><span>&#65289;</span>
                </span>
            </div>
            <div class="equipment-item-description"
                 th:if="${not #strings.isEmpty(group.spec.description)}"
                 th:text="${group.spec.description}"></div>
            <div class="equipment-item-content">
                <article th:each="equipment : ${group.equipments}" class="equipment-item-content-item">
                    <div class="equipment-item-content-item-cover">
                        <img class="equipment-item-content-item-image entered"
                             th:alt="${equipment.spec.displayName}"
                             th:src="${equipment.spec.cover}">
                    </div>

                    <div class="equipment-item-content-item-info">
                        <h3 class="equipment-item-content-item-name" th:text="${equipment.spec.displayName}"></h3>
                        <div class="equipment-item-content-item-specification"
                             th:if="${not #strings.isEmpty(equipment.spec.specification)}"
                             th:text="${equipment.spec.specification}"></div>
                    </div>

                    <div class="equipment-item-content-item-body">
                        <div class="equipment-item-content-item-description"
                             th:if="${not #strings.isEmpty(equipment.spec.description)}"
                             th:text="${equipment.spec.description}"></div>
                    </div>

                    <div class="equipment-item-content-item-footer">
                        <span class="equipment-item-content-item-price"
                              th:if="${showPrice and not #strings.isEmpty(equipment.spec.url)}">
                            <svg class="equipment-item-content-item-price-icon"
                                 viewBox="0 0 24 24"
                                aria-hidden="true"
                                 focusable="false">
                                <path fill="currentColor"
                                      d="M6.5 15v-1.5H4v-2h5V9H6q-.825 0-1.413-.588T4 7V5q0-.825.588-1.413T6 3h.5V1.5h2V3H11v2H6v2.5h3q.825 0 1.413.588T11 9.5V12q0 .825-.588 1.413T9 14h-.5v1zm7.45 5.6l-3.55-3.55l1.4-1.4l2.15 2.15l5.25-5.25l1.4 1.4z"></path>
                            </svg>
                            <span th:text="${equipment.spec.url}"></span>
                        </span>
                        <span class="equipment-item-content-item-id"
                              th:text="${'ID. ' + equipment.assetId}"></span>
                    </div>
                </article>
            </div>
        </section>
    </th:block>
</div>
